<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>

<body>
    {% include 'header.html' %}


    <h1>{% trans "All articles" %}</h1>

    <p>{% trans "Discover all our blog articles" %}</p>


    {% for article in articles %}
    <h2><a href="{% url 'single_article' article.id %}">
            {% if LANGUAGE_CODE == 'en' %}
            {{ article.title_en }}
            {% elif LANGUAGE_CODE == 'fr' %}
            {{ article.title_fr }}
            {% endif %}
        </a></h2>
    {% endfor %}




</body>

</html>