<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if LANGUAGE_CODE == 'en' %}
        {{ article.title_en }}
        {% elif LANGUAGE_CODE == 'fr' %}
        {{ article.title_fr }}
        {% endif %}
    </title>
</head>


<body>
    {% include 'header.html' %}
    {% get_current_language as LANGUAGE_CODE %}


    <h1>
        {% if LANGUAGE_CODE == 'en' %}
        {{ article.title_en }}
        {% elif LANGUAGE_CODE == 'fr' %}
        {{ article.title_fr }}
        {% endif %}
    </h1>
    <p>
        {% if LANGUAGE_CODE == 'en' %}
        {{ article.content_en }}
        {% elif LANGUAGE_CODE == 'fr' %}
        {{ article.content_fr }}
        {% endif %}
    </p>
    <p><strong>{% trans "Published on" %}:</strong> {{ article.publication_date }}</p>
    <a href="{% url 'articles_list' %}">{% trans "Back to Articles" %}</a>
</body>

</html>