{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if LANGUAGE_CODE == 'en' %}
        {{ article.title_en }}
        {% elif LANGUAGE_CODE == 'fr' %}
        {{ article.title_fr }}
        {% endif %}
    </title>
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'header.html' %}

    <div class="article-container">
        <h1>
            {% if LANGUAGE_CODE == 'en' %}
            {{ article.title_en }}
            {% elif LANGUAGE_CODE == 'fr' %}
            {{ article.title_fr }}
            {% endif %}
        </h1>
        <p><strong>{% trans "Published on" %}:</strong> {{ article.publication_date }}</p>

        <p>
            {% if LANGUAGE_CODE == 'en' %}
            {{ article.content_en }}
            {% elif LANGUAGE_CODE == 'fr' %}
            {{ article.content_fr }}
            {% endif %}
        </p>
        <a class="back-link" href="{% url 'articles' %}">{% trans "Back to the articles" %}</a>
    </div>
</body>

</html>